{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
<div class="form-wrapper">
    <h1 class="form-title">Inscription</h1>

    {{ form_start(form) }}
        {{ form_row(form.firstName) }}
        {{ form_row(form.lastName) }}
        {{ form_row(form.email) }}
        {{ form_row(form.username) }}
        {{ form_row(form.roles) }}
        {{ form_row(form.plainPassword) }}
        <button type="submit">S'inscrire</button>
    {{ form_end(form) }}

    <a href="{{ path('app_login') }}" class="form-link">Déjà un compte ? Se connecter</a>
</div>
{% endblock %}
